/*HEADER*/
.header {
  background: linear-gradient(to right, #ff6060, rgb(255, 255, 0));
  grid-area: header;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-areas: "logo phone shopCart";
  align-items: center;

  .logo {
    grid-area: logo;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 2rem;

    &:hover {
      transform: rotatex(360deg);
      transition: 2s;
    }
    .header__image {
      display: inline-block;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      width: 6rem;
    }
  }
  .phone {
    grid-area: phone;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 768px) {
      display: none;
    }
  }
  .shopCart {
    grid-area: shopCart;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    img {
      width: 3rem;
      display: inline-block;
    }
  }
  .desktop__nav {
    display: none;
    grid-area: none;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 0.3rem;
    a {
      text-decoration: none;
      color: rgb(66, 64, 64);
      @media (min-width: 768px) {
        text-decoration: none;
        color: black;
        &:hover {
          color: map-get($palette, main-color);
        }
      }
    }
    @media (min-width: 768px) {
      grid-area: 2/3;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 0.3rem;
    }
  }
}
