/*Seccion del index*/
.hero_container {
  grid-area: section;
  background-image: url(../imagenes/pizzalunaportada.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-width: 768px) {
    padding-bottom: 200px;
  }
  @media (min-width: 1280px) {
    padding-bottom: 300px;
  }

  .header__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      display: inline-block;
      margin-top: 1.5rem;
      text-decoration: none;
      color: black;
      &:hover {
        color: map-get($palette, main-color);
      }
    }
    @media (min-width: 768px) {
      display: none;
    }
  }

  .hero__text {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;

    @media (min-width: 768px) {
      font-size: 3rem;
      margin-top: 10rem;
    }
    @media (min-width: 1080px) {
      font-size: 4rem;
      margin-top: 10rem;
    }
  }
}
