/*contenedor de cards de menu y promociones*/
.container {
  @include display(flex, column, center, space-between);
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
}
