.privacyPolicy {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 4rem;
  width: 90%;

  @media (min-width: 768px) {
    width: 80%;
  }
  @media (min-width: 1080px) {
    width: 70%;
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  h2 {
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
    margin-top: 0.5rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  .policyLastParagraph {
    margin-bottom: 3rem;
  }
}
