/*HEADER*/
.header {
  background: linear-gradient(to right, #ff6060, rgb(255, 255, 0));
  grid-area: header;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-areas: "logo phone shopCart";
  align-items: center;
  grid-template-rows: 128px;
  position: fixed;
  width: 100%;

  .logo {
    grid-area: logo;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      transform: rotatex(360deg);
      transition: 2s;
    }
    a {
      display: flex flex-direction column;
      align-items: center;

      .header__image {
        display: inline-block;
        width: 70px;
        @media (min-width: 768px) {
          width: 85px;
        }
        @media (min-width: 1320px) {
          width: 100px;
        }
      }
    }
  }
  .phone {
    grid-area: phone;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @media (min-width: 768px) {
      display: none;
    }
    .phoneContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 4px;
      img {
        width: 28px;
      }
      p {
        font-size: 17px;
        padding-bottom: 4px;
      }
    }
  }

  .shopCart {
    grid-area: shopCart;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    img {
      width: 2rem;
      display: inline-block;
    }
  }
  .desktop__nav {
    grid-area: phone;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 0.3rem;
    display: none;
    @media (min-width: 768px) {
      grid-area: phone;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 0.3rem;
    }

    a {
      @media (min-width: 768px) {
        color: rgb(66, 64, 64);
        text-decoration: none;
        color: black;
        &:hover {
          color: map-get($palette, main-color);
        }
      }
    }
  }
}
