.globalSection {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: section;

  .header__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 768px) {
      display: none;
    }
    a {
      display: inline-block;
      margin-top: 1.5rem;
      text-decoration: none;
      color: black;

      &:hover {
        color: map-get($palette, main-color);
      }
    }
  }
  .section__title {
    text-align: center;
    margin-top: 3rem;
    font-size: 1rem;
  }
  .section__subtitle {
    display: inline block;
    text-align: center;
    font-size: 1rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
}
