body {
  display: grid;
  grid-template-rows: 120px auto 200px;
  height: 100vh;
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "section"
    "footer";
  overflow: scroll;
  transition: 2s;
  img {
    max-width: 100%;
  }
}
